<div style="display: flex; justify-content: center; width: 100vw; overflow-x: hidden; height: 100vh; background-color: #000;">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<div style=" width: 75vw; height: 100vh; display: flex; justify-content: center; flex-direction: column; background-color: #000;">
    <label for='title' style="color:#FFF;font-size: 20px;">Title</label>
<div>
    <input required value="<%= posts.title%>"
    type='text' name='title' id='title'style="border:1px solid white; text-align:center; color:white"/>
</div>

<div>

    <div>
    <textarea id="editor" name='description' id='description'>
    <%= posts.description%>
    </textarea>
    </div>

</div>
    <button class='btn' type='submit' style="height:50px">SAVE</button>
    <button class='btn red lighten-2' type='submit' style="height:50px"><a href='/render/posts'>Cancel</a></button>
    </div>

</div>
<style type="text/css">
a:link {text-decoration: none; color: #FFF;}
a:visited {text-decoration: none; color: #FFF;}
a:active {text-decoration: none; color: #FFF;}
a:hover {text-decoration: underline; color: #FFF;}
</style>
<script src="https://cdn.ckeditor.com/ckeditor5/22.0.0/classic/ckeditor.js"></script>

<script>
ClassicEditor
    .create( document.querySelector( '#editor' ) )
    .then( editor => {
        console.log( editor );
    } )
    .catch( error => {
        console.error( error );
    } );
</script>